* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

code {
    background-color: #eee;
    border-radius: 3px;
    font-family: courier, monospace;
    padding: 0 3px;
}

#navbar {
    height: 100%;
    width: 260px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: whitesmoke;
    overflow-y: auto;
    padding-top: 20px;
}

.head {
    font-size: larger;
    font-weight: bolder;
    padding: 6px 8px 6px 16px;
}

#attr-img {
    max-width: 800px;
}

a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    color: black;
    font-size: large;
}

#main-doc {
    padding-left: 280px;
    padding: 30px 30px 30px 280px;
}

#heading {
    font-size: x-large;
    font-weight: bolder;
}

.table1 {
    display: table;
    border-collapse: collapse;
    border-spacing: 2px;
    overflow-x: auto;
    width: 100%;
    margin: 50px 0px;
    background-color: rgb(223, 221, 221);
    font-size: medium;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: white;
    text-align: left;
    padding: 10px 5px;
    border-left: 6px solid #276738;
}

p {
    font-size: large;
}

@media screen and (min-width: 480px) {
    body {
        background-color: ghostwhite;
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}